# --- Vim pliki tymczasowe ---
*.swp
*.swo
*.bak
*.tmp
*~
*.backup

# Historia NERDTree, netrw itp.
.netrwhist

# Pliki systemowe
.DS_Store
Thumbs.db

# Lokalne wtyczki Vim (instalowane przez użytkownika)
plugged/
autoload/plug.vim

# Node (jeśli Coc.nvim generuje lokalne pliki)
node_modules/
package-lock.json
yarn.lock

# Backupy i logi
backup/
log/
